.center {
    text-align: center;
}

.buttonStyle{
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: white;


    background-color:hsl(212, 70%, 35%);
}

.buttonStyleSecondary{
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: white;

    background-color: #8A2BE2;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../Styles/background.jpg") center;
}

.bannerAddTeam{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../Styles/futballfield.jpg") center;
}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width:100px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #8A2BE2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 10px 10px 10px 10px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-bottom: 80px;

}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #8A2BE2;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #8A2BE2;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    border:none
}

.link{
    color: #FFFFFF;
    text-decoration: none;
}

#cent {
    position:relative;
    width: 900px;
    height: 740px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    margin: auto;
    background-color: #ffffff;
    border-style: solid;
    border-color: rgb(136, 3, 163);
}


#cent1 {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    margin: auto;
}



input[type=text], select {
    width: 35%;
    padding: 15px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid rgb(117, 113, 113);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #e32323;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table.sign {
    width:100%;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
td, th {
    background-color: #797373;
    color: #ffffff;
    text-align:center;
    padding: 12px 10px;
}
tr{
    border-bottom: 1px solid #dddddd;
}